<app-header title="Login"></app-header>
<ion-content>
    <div class="ion-padding">
        <form [formGroup]="loginForm">
            <ion-list>
                <ion-item>
                    <ion-label position="floating">Username</ion-label>
                    <ion-input formControlName="username" type="text"></ion-input>
                </ion-item>
                <div class="ion-margin-top" *ngIf="loginForm.controls.username.errors">
                    <ion-text color="danger" *ngIf="loginForm.controls.username.errors.required && submitted">Username is required</ion-text>
                </div>
                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input formControlName="password" type="text"></ion-input>
                </ion-item>
                <div class="ion-margin-top" *ngIf="loginForm.controls.password.errors">
                    <ion-text color="danger" *ngIf="loginForm.controls.password.errors.required && submitted">Username is required</ion-text>
                    <ion-text color="danger" *ngIf="loginForm.controls.password.errors.minlength && submitted">Username min length is 6</ion-text>
                </div>
            </ion-list>
            <ion-row>
                <ion-col>
                    <ion-button (click)="submit()" expand="full">Sign in</ion-button>
                </ion-col>
            </ion-row>
        </form>
    </div>
</ion-content>